@media screen {
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #app {
    display: flex;
    height: calc(100% - 64px);
  }

  #editor {
    background: #ccc;
    font-family: "Fira code", "Fira Mono", monospace;
    font-size: 12;
    width: 50%;
    flex: 1;
    height: 100%;
    overflow: auto;
  }

  #preview {
    width: 50%;
    padding: 10px;
    height: calc(100% - 20px);
    overflow: auto;
  }
}

@media print {
  [role=tooltip], .appbar {
    display: none !important;
  }
  #editor {
    display: none;
  }
}